<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:divth="http://www.w3.org/1999/html">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <link rel="stylesheet" type="text/css" href="/styles/login.css"/>

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100..700&display=swap" rel="stylesheet"/>

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Jersey+20&family=Orbitron:wght@400..900&family=Righteous&family=Roboto+Mono:wght@100..700&display=swap"
            rel="stylesheet"/>

    <title>Portal Tech</title>
    <link rel="icon" href="/styles/images/logo.jpeg"/>
</head>

<body>
<header class="cabecalho">
    <div class="logo">
        <img src="/styles/images/logo.jpeg" alt="logo Portal Tech"/>
    </div>
    <div class="titulo">
        <h1>Portal Tech</h1>
    </div>
    <nav class="cabecalhoMenu">
        <a href="/">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            HOME
        </a>
    </nav>
</header>

<section class="home">
    <div class="container">
        <main class="login">
            <section class="login-box">
                <h1 class="login-texto">Login</h1>
                <div class="campo-login">

                    <form method="post" class="formLogin">
                        <div class="campo">
                            <fieldset>
                                <legend class="campo-legenda"><strong>Gostaria de entrar como:</strong></legend>
                                <ul>
                                    <li>
                                        <label>
                                            <input id="usuario" th:value="${usuario}" type="radio" name="devweb"
                                                   value="frontend"
                                                   checked>Usuário
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input id="tecnico" th:value="${tecnico}" type="radio" name="devweb"
                                                   value="backend">Técnico
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input id="administrador" th:value="${administrador}" type="radio"
                                                   name="devweb"
                                                   value="backend">Administrador
                                        </label>
                                    </li>
                                </ul>
                            </fieldset>
                        </div>

                        <div>
                            <label for="email">E-mail</label>
                            <input type="email" id="email" th:value="${email}" class="input-email" name="email"
                                   required
                                   placeholder="Digite seu e-mail:"/>
                        </div>

                        <div>
                            <label for="password">Senha</label> <!-- Rótulo do campo senha -->
                            <input type="password" id="password" th:value="${senha}" class="input-senha"
                                   name="senha"
                                   required
                                   placeholder="Digite sua senha:"/>

                        </div>
                        <div class="lembrar-esqueceu">
                            <div class="lembrar">
                                <input type="checkbox" id="lembrar">
                                <label for="lembrar">Lembrar-me</label>
                            </div>
                            <div class="esqueceu">
                                <a href="#">Esqueceu a senha</a>
                            </div>
                        </div>

                        <div class="container-input-login">
                            <div th:if="${erro != null}" th:text="${erro}"  class="alert alert-danger" role="alert" style="color: white;"></div>
                            <button type="submit">Entrar</button>
                        </div>

                        <div class="registrar">
                            <p>Ainda não tem uma conta?
                                <a href="/cadastro">Registrar</a>
                            </p>
                        </div>
                    </form>
                </div>
            </section>
        </main>


        <img src="/styles/images/persona2.jpeg" class="img"/>
    </div>
</section>

<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="github">
                <img src="/styles/images/github.png" alt="GitHub Logo" class="github-img"/>
            </div>
            <div class="github-links">
                <a href="https://github.com/alineadcosta95">Aline Alves </a>
                <a href="https://github.com/ElisIrons">Elis Rodrigues</a>
                <a href="https://github.com/keilaarakaki">Keila Arakaki</a>
                <a href="https://github.com/nayarakarinearaujo">Nayara Karine</a>
                <a href="https://github.com/Thais-Abe">Thais Abe </a>
            </div>
        </div>
    </div>
</footer>

</body>
</html>