<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<p>Selected option value!</p>

<form method="post" action="/teste" >
<select name="setor">
    <option th:each="setor : ${setores}"
            th:value="${setor}"
            th:text="${setor}" >Administrativo
    </option>

</select>
    <div class="container-input-cadastrar">
        <button type="submit">Cadastrar</button>
    </div>
</form>
</body>
</html>