<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" type="text/css" href="/styles/usuario.chamado.css"/>

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100..700&display=swap"
            rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Jersey+20&family=Orbitron:wght@400..900&family=Righteous&family=Roboto+Mono:wght@100..700&display=swap"
            rel="stylesheet"
    />

    <title>Portal Tech</title>
    <link rel="icon" href="/styles/images/logo.jpeg"/>
</head>

<body>
<header class="cabecalho">
    <div class="logo">
        <img src="/styles/images/logo.jpeg" alt="logo Portal Tech"/>
    </div>
    <div class="titulo">
        <h1>Portal Tech</h1>
    </div>
    <nav class="cabecalhoMenu">
        <a href="/">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            HOME
        </a>
    </nav>
</header>

<section class="home">
    <div class="container">
        <main class="container-form">
            <section class="container-box">

                <h1 class="container-texto" th:text="'Bem-vindo(a), ' + ${userOn.nome} + '!'">Bem-vindo(a)!</h1>

                <h2 class="container-subtitulo">Criar novo chamado</h2>

                <div class="campo-container">
                    <form action="/usuario/novo/chamado" method="post">
                        <div class="descricao">
                            <div>
                                <span class="input-group-text">Descrição</span>
                            </div>
                            <textarea class="form-control" rows="1" id="descricao" name="descricao"
                                      placeholder="Digite uma descrição"></textarea>
                        </div>
                        <div>
                            <span class="input-group-text">Prioridade</span>
                        </div>
                        <select class="form-control" id="prioridade" name="prioridade" required>
                            <option value="baixa" th:selected="${chamado.id_prioridade.nome == 'Baixa'}">Baixa</option>
                            <option value="media" th:selected="${chamado.id_prioridade.nome == 'Média'}">Média</option>
                            <option value="alta" th:selected="${chamado.id_prioridade.nome == 'Alta'}">Alta</option>
                        </select>
                        <input type="hidden" name="id_prioridade" th:value="${chamado.id_prioridade.id}" />

                        <div class="data">
                            <div class="data_abertura">
                                <label for="data_abertura" id="data_abertura" class="input-group-text campo label"
                                >Data da abertura do chamado</label
                                >
                            </div>
                            <div class="data-abertura-atual"
                                 th:text="${#dates.format(#dates.createNow(), 'dd/MM/yyyy')}"></div>
                        </div>
                        <div class="container-input-cadastrar">

                            <button type="submit">Cadastrar</button>
                        </div>
                    </form>

                    <div class="return-index">
                        <p>
                            <a href="/tela-usuario"><img class="color-image" src="/styles/images/voltar.png"/></a>Voltar
                            para tela inicial
                        </p>
                    </div>
                </div>
            </section>
        </main>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="footer-content">
                <div class="github">
                    <img src="/styles/images/github.png" alt="GitHub Logo" class="github-img"/>
                </div>
                <div class="github-links">
                    <a href="https://github.com/alineadcosta95">Aline Alves </a>
                    <a href="https://github.com/ElisIrons">Elis Rodrigues</a>
                    <a href="https://github.com/keilaarakaki">Keila Arakaki</a>
                    <a href="https://github.com/nayarakarinearaujo">Nayara Karine</a>
                    <a href="https://github.com/Thais-Abe">Thais Abe </a>
                </div>
            </div>
        </div>
    </footer>
</section>
</body>
</html>
