<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" type="text/css" href="/styles/usuario.chamado.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100..700&display=swap" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Jersey+20&family=Orbitron:wght@400..900&family=Righteous&family=Roboto+Mono:wght@100..700&display=swap"
            rel="stylesheet" />

    <title>Portal Tech</title>
    <link rel="icon" href="/styles/images/logo.jpeg" />
</head>

<body>
<header class="cabecalho">
    <div class="logo">
        <img src="/styles/images/logo.jpeg" alt="logo Portal Tech" />
    </div>
    <div class="titulo">
        <h1>Portal Tech</h1>
    </div>
    <nav class="cabecalhoMenu">
        <a href="/">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            HOME
        </a>
    </nav>
</header>

<section class="home">
    <div class="container">
        <main class="container-form">
            <section class="container-box">
                <h1 class="container-texto" th:text="'Bem-vindo, ' + ${userName} + '!'">Bem-vindo(a)!</h1>
                <h2 class="container-subtitulo">Chamados Criados</h2>
                <div class="tabela-container">
                    <table class="tabela">
                        <thead>
                        <tr>
                            <th>Data de Abertura</th>
                            <th>Usuário</th>
                            <th>Setor</th>
                            <th>Prioridade</th>
                            <th>Descrição</th>
                            <th>Data da Finalização</th>
                        </tr>
                        </thead>
                        <tbody>
  

                        <tr th:each="chamado : ${chamados}">
<!--                            <td th:text="${chamado.dt_abertura}">Data Abertura</td>-->
                            <td th:text="${dtFormatada}">Data Abertura</td>
                            <td th:text="${chamado.id_usuario.nome}">Usuario</td>
                            <td th:text="${chamado.id_usuario.setor.nome}">Setor</td>-->
                            <td th:text="${chamado.id_prioridade.nome}">Prioridade</td>
                            <td th:text="${chamado.descricao}">Descrição</td>
                            <td th:text="${chamado.dt_fim}">Data Fim</td>

                            <td><a th:href="@{'/usuario/chamados/' + ${chamado.id}}">Detalhes</a></td>

                        </tr>

                        </tbody>
                    </table>
                </div>
                <div class="return-index" style="margin-top: 250px;">
                    <p><a href="/tela-usuario"><img class="color-image" src="/styles/images/voltar.png" /></a>Voltar para tela inicial</p>
                </div>
            </section>
        </main>
    </div>
</section>

<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="github">
                <img src="/styles/images/github.png" alt="GitHub Logo" class="github-img" />
            </div>
            <div class="github-links">
                <a href="https://github.com/alineadcosta95">Aline Alves </a>
                <a href="https://github.com/ElisIrons">Elis Rodrigues</a>
                <a href="https://github.com/keilaarakaki">Keila Arakaki</a>
                <a href="https://github.com/nayarakarinearaujo">Nayara Karine</a>
                <a href="https://github.com/Thais-Abe">Thais Abe </a>
            </div>
        </div>
    </div>
</footer>
</body>

</html>
