* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --primeira-cor:#03e9f4;
    --segunda-cor: #fff;
    --fonte-secundaria: "Orbitron", sans-serif;
    --background-container: radial-gradient(100% 100% at bottom center,
                                        rgb(145, 32, 138),
                                        rgb(18, 28, 90), rgb(145, 32, 138));
}

body {
  background-image: url("https://img.freepik.com/vetores-gratis/plano-de-fundo-realista-em-estilo-futurista_23-2149129125.jpg?w=740&t=st=1714738576~exp=1714739176~hmac=1f700f9ca9e6cbd1e61691696b1886b625b3931ea713cba4a22a26f65644fccc");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Roboto Mono', sans-serif;
  opacity: 95%;
}

.cabecalho {
  background: radial-gradient(
    50% 100% at bottom center,
    rgb(145, 32, 138),
    rgb(9, 26, 79)
  );
  display: flex;
  align-items: center;
  padding: 1rem;
  height: 6rem;
}

.logo img {
  margin-right: auto;
  max-width: 5rem;
  height: auto;
  border-radius: 100px;
  box-shadow: 1px 0 1px var(--primeira-cor), 0 0 5px var(--primeira-cor), 0 0 10px var(--primeira-cor),
    0 0 550px var(--primeira-cor);
}

.cabecalhoMenu {
  display: flex;
}

.titulo {
  font-family: var(--fonte-secundaria);
  letter-spacing: 5rem;
  color: var(--primeira-cor);
  text-shadow: 0 0 29px var(--primeira-cor);
  flex-grow: 1;
  text-align: center;
}

.cabecalhoMenu a,
.titulo {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: var(--primeira-cor);
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 5px;
  letter-spacing: 4px;
}

.cabecalhoMenu a:hover {
  background: var(--primeira-cor);
  color: #f1eee6;
  border-radius: 5px;
  box-shadow: 0 0 10px var(--primeira-cor), 0 0 50px var(--primeira-cor), 0 0 100px var(--primeira-cor),
    0 0 200px var(--primeira-cor);
}

.cabecalhoMenu a span {
  position: absolute;
  display: block;
}

.cabecalhoMenu a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--primeira-cor));
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}

.cabecalhoMenu span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--primeira-cor));
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}

.cabecalhoMenu span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, var(--primeira-cor));
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}

.cabecalhoMenu span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, var(--primeira-cor));
  animation: btn-anim4 1s linear infinite;
  animation-dealy: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}

.header {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 70px;
  border-radius: 0 0 20px 20px;
  color: var(--segunda-cor);
}

.container-box {
  position: fixed;
  width: 450px;
  height: 500px;
  backdrop-filter: blur(25px);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 7.5em 2.5em 2em 2.5em;
  color: var(--segunda-cor);
  background: var(--background-container);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.container-texto {
font-family:var(--fonte-secundaria);
   font-size: 3rem;
   color: rgb(9, 26, 79);
   -webkit-text-stroke: 0.5px var(--primeira-cor);
   text-stroke: 0.5px var(--primeira-cor);
  text-align: center;
  margin-top: -10%;
  margin-bottom: 20px;
}

.campo-container {
    display: flex;
    flex-direction: column;
}

.vizualizar-chamados,
.novo-chamado {
    margin-bottom: 20px;
}

.footer {
  font-family: var(--fonte-secundaria);
  background: radial-gradient(
    100% 100% at top center,
    rgb(145, 32, 138),
    rgb(9, 26, 79)
  );
  padding: 0.5rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.github-img {
  margin-right: 10px;
  height: 40px;
  max-width: auto;
}

.footer a {
  color:var(--primeira-cor);
  text-decoration: none;
  margin-right: 10px;
}

.footer a:hover {
  background: var(--primeira-cor);
  color: var(--segunda-cor);
  border-radius: 2px;
  box-shadow: 0 0 50px var(--primeira-cor);
  padding: 5px;
}