* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primeira-cor: #c6c3c3;
  --segunda-cor: #ffffff;
  --black-cor: #000000;
  --hover-cor: rgb(245, 207, 242);
}

body {
  background-image: url("https://img.freepik.com/vetores-gratis/plano-de-fundo-realista-em-estilo-futurista_23-2149129125.jpg?w=740&t=st=1714738576~exp=1714739176~hmac=1f700f9ca9e6cbd1e61691696b1886b625b3931ea713cba4a22a26f65644fccc");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: "Roboto Mono", sans-serif;
  opacity: 95%;
}

.cabecalho {
  background: radial-gradient(
    50% 100% at bottom center,
    rgb(145, 32, 138),
    rgb(11, 22, 40)
  );
  display: flex;
  align-items: center;
  padding: 1rem;
  height: 6rem;
}

.logo img {
  margin-right: auto;
  max-width: 5rem;
  height: auto;
  border-radius: 100px;
  box-shadow: 1px 0 1px #03e9f4, 0 0 5px #03e9f4, 0 0 10px #03e9f4,
    0 0 550px #03e9f4;
}

.titulo {
  flex-grow: 1;
  text-align: center;
}

.titulo {
  font-family: "Orbitron", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #14fff1;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 4px;
}

.cabecalhoMenu {
    display: flex;
}

.cabecalhoMenu a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 5px;
    letter-spacing: 4px;
}

.cabecalhoMenu a:hover {
background: #03e9f4;
color: #f1eee6;
border-radius:5px;
box-shadow: 0 0 10px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4, 0 0 200px #03e9f4;
}

.cabecalhoMenu a span {
  position: absolute;
  display: block;
}

.cabecalhoMenu a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.cabecalhoMenu span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.cabecalhoMenu span:nth-child(3) {
    bottom: 0;
    tight: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.cabecalhoMenu span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #30e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-dealy: 0.75s;
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}

.home .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem 0 0 1rem;
}

.container-box {
position:fixed;
  width: 1250px;
  height: 800px;
  backdrop-filter: blur(25px);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 5rem;
  color: var(--segunda-cor);
  background: radial-gradient(
    100% 100% at bottom center,
    rgb(145, 32, 138),
    rgb(18, 28, 90),
    rgb(145, 32, 138)
  );
  left: 50%;
  top: 29rem;
  transform: translate(-50%, -50%);
}

.container-texto {
  font-family: "Orbitron", sans-serif;
    font-size: 3rem;
    color: rgb(9, 26, 79);
    -webkit-text-stroke: 0.5px #03e9f4;
    text-stroke: 0.5px #03e9f4;
  text-align: center;
  margin-top: -8%;
  margin-bottom: 10px;
}

.container-subtitulo {
font-family: "Orbitron", sans-serif;
  font-size: 25px;
  color:#03e9f4;
  text-align: center;
  margin:2px;
}

.campo-container {
  display: flexbox;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  text-align: center;
}
/*
.campo {
  margin-bottom: 10px;
}
*/
.campo-container input[type="text"],
.campo-container textarea,
.campo-container select {
  width: 100%;
  height: 40px;
  font-size: 14px;
  padding: 10px;
  border: 2px solid rgb(145, 32, 138);
  border-radius: 15px;
  outline: none;
  margin: 0 auto;
  margin-bottom:20px;
}

.campo-container input[type="text"]:hover,
.campo-container textarea:hover,
.campo-container select:hover {
  background-color: var(--hover-cor);
  color: var(--black-cor);
  cursor:pointer;
}

::-webkit-input-placeholder {
  color: #bebcbc;
  font-style: italic;
}

.campo-container #descricao {
  height: 180px;
}

.container-input-cadastrar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-bottom:1rem;
}


.container-input-cadastrar button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 5px;
  letter-spacing: 4px;
  background:none;
  border:none;
  cursor:pointer;
}

.container-input-cadastrar button:hover {
  background: #03e9f4;
  color: #f1eee6;
  border-radius: 5px;
  box-shadow: 0 0 10px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4,
    0 0 200px #03e9f4;
}

.return-index {
  position: absolute;
  bottom: 10px;
  left: 10px;
  text-align: center;
}

.return-index p {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 12px;
  margin-top: 60px;
}

/*Seção da tabela do Usuário chamados*/

.tabela-container {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.tabela {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}

.tabela th,
.tabela td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
  background-color: var(--segunda-cor);
  color: var(--black-cor);
}

.tabela th {
  background-color: var(--primeira-cor);
  color: var(--black-cor);
}

.tabela tbody tr:nth-child(even) {
  background-color: white;
}

.tabela tbody tr:hover {
  background-color: var(--hover-cor);
}

/* Ajusta a largura das colunas se necessário */
.tabela th:nth-child(1),
.tabela td:nth-child(1) {
  width: 15%;
}

.tabela th:nth-child(2),
.tabela td:nth-child(2) {
  width: 15%;
}

.tabela th:nth-child(3),
.tabela td:nth-child(3) {
  width: 25%;
}

.tabela th:nth-child(4),
.tabela td:nth-child(4) {
  width: 10%;
}

.tabela th:nth-child(5),
.tabela td:nth-child(5),
.tabela th:nth-child(6),
.tabela td:nth-child(6) {
  width: 12%;
}


.botao-salvar, .botao-excluir{
  color: #03e9f4;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  border:none;
  background: none;
  cursor:pointer;
}

.botao-salvar:hover, .botao-excluir:hover{
 background: #03e9f4;
  color: #f1eee6;
  box-shadow: 0 0 10px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4,
    0 0 200px #03e9f4;
    }

    .footer {
      font-family: "Orbitron", sans-serif;
      background: radial-gradient(
        100% 100% at bottom center,
        rgb(145, 32, 138),
        rgb(11, 22, 40)
      );
      padding: 0.5rem;
      position: fixed;
      bottom: 0;
      width: 100%;
    }


.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.github-img {
  margin-right: 10px;
  height: 40px;
  max-width: auto;
}

.footer a {
  color: #03e9f4;
  text-decoration: none;
  margin-right: 10px;
}

.footer a:hover {
  background: #03e9f4;
  color: #f1eee6;
  border-radius: 2px;
  box-shadow: 0 0 50px #03e9f4;
  padding: 5px;
}

@media screen and (min-width: 1728px){
.container-box {
  top: 30rem;
  height:650px;
}

.campo-container input[type="text"],
.campo-container textarea,
.campo-container select {
  height: 50px;
  font-size: 17px;
}

#descricao {
  height: 80px;
}

}